@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Vector1:before {
    content: "\e904";
    color: #fff;
}


.icon-Group2:before {
    content: "\e902";
    color: #fff;
}

.icon-Group1:before {
    content: "\e903";
    color: #fff;
}

.icon-WD:before {
    content: "\e900";
    color: #34547a;
}

.icon-facebook:before {
    content: "\e901";
    color: rgba(255, 255, 255, 1);

}

*,
*::before *::after {
    box-sizing: border-box;

}

html {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    color: #000;
    line-height: 78px;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    color: #000;
    line-height: 37px;
    margin-bottom: 50px;
}

h3 {
    font-weight: 500;
    font-size: 21px;
    color: #fff;
    line-height: 24px;
    margin: 0 auto;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;

}

.page-wrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100%;

}

.page {
    width: 100%;
    display: flex;
    flex-direction: column;

}

/* Шапка сайта */

.head {


    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;

}

.container_head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1180px;
    padding: 50px 0px 15px;
    margin: auto;
}
.logo{
    display: flex;
}
.logo a {
    text-decoration: none;
    font-size: 48px;

}

.nav-list {
    display: flex;
    list-style: none;

    width: 100%;


}
.nav-list > li:last-child {
    padding-right: 0px;
   
}
.nav-list > li{
    padding-right: 40px;
}

.nav-list a {
    text-decoration: none;
    color: inherit;
    
    width: 600px;
    height: 16px;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

}


.menu__item:hover {
    color: #000080;
    transition: color ease 0.5s;
}
/* Меню Бургер */
.menu__btn,
#menu__toggle {
    display: none;
}

/* Основной контент */
.main-screen {
    width: 100%;
    flex: 1 1 auto;
}

.container-screen {
    max-width: 1180px;
    padding: 0px 15px;
    margin: 0 auto;
    display: flex;

}

.first-screen {
    width: 100%;
    height: 100%;
}

.img-row {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 30px;
}

.screen-img {

    margin: 285px 150px 0px auto;

    width: 68%;

}

.text {
    margin: 200px 0px 142px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 0px 30px;
    color: #727272;
}

.btn {
    margin-top: 50px;
    text-align: center;
    width: 27%;
    line-height: 26.25px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 20px 41px;
    background-color: #34547A;
    font-size: 16px;
}

.about {
    display: flex;
    width: 100%;
    background-color: #E5E5E5;
    align-items: center;
    justify-content: center;
}

.contanier-about {

    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 119px auto;
    text-align: center;
    padding: 0px 15px;
    color: #727272;
}

.numbers {
    display: flex;
    margin: 0 auto;
    width: 100%;
    min-height: 250px;
    background-color: #34547A;
}

.cotanier-numbers {
    max-width: 1180px;
    display: flex;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.project-numbers {
    display: flex;
    flex-basis: 22%;
    padding-right: 30px;
}

.project-numbers:last-child {
    padding-right: 0px;
}

.project-item {

    font-size: 46px;
    list-style: none;


}

.text-numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 47px;
    margin-left: 20px;
    color: #fff;
    width: 6%;
    height: 5%;

}

.skill {
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
}

.container-skill {
    max-width: 1180px;
    display: flex;
    padding: 100px 15px;
    margin: auto;
    justify-content: space-between;
}


.img-author {

    width: 47%;
}

.skill-list {
    color: #727272;
    font-size: 16px;
    padding-top: 50px;
    width: 40%;


}

.skill-item+.skill-item {
    padding-top: 30px;
}

.skill-title {
    display: block;
    margin-bottom: 20px;
}

.skill-load {
    position: relative;
    height: 4px;
    background: #C4C4C4;
}

.skill-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #34547A;
}

.video {
    width: 100%;
    background-color: #EEEFF1;
    display: flex;
}

.container-video {
    max-width: 1180px;
    display: flex;
    padding: 15px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-video {
    width: 46%;
    padding: 100px 0px;
    margin: auto;
    text-align: center;
    color: #727272;
}

.img-video {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    position: absolute;
    text-decoration: none;
    font-size: 100px;

}

.gallary-item {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    padding-top: 25%;
    position: relative;

}


.gallary-list {
    display: flex;
    flex-wrap: wrap;

}

.color {
    width: 100%;
    height: 100%;
    background-color: rgba(52, 84, 122, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}

.icon-Group1 {
    font-size: 50px;
    Position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.clients {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.form {

    width: 100%;
    padding: 100px 0px;
}

.container-form {
    width: 37%;
    margin: 0 auto;
    padding: 0 15px;

}

.form-title {
    width: 100%;
    text-align: center;
}


.form-title>p {
    color: #727272;
}

.section-form {
    padding-top: 65px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.form-blok {
    display: flex;

    width: 100%;

}

.form-input {
    height: 50px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 50%;
}

.mail {
    margin-left: 30px;
}


#form-text {
    height: 175px;
    width: 100%;
    padding: 0;

    border: none;
}

.btn-form {
    margin-top: 50px;
    text-align: center;
    width: 190px;
    height: 55px;
    line-height: 22px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background-color: #34547A;
    font-size: 14px;
}

/* Футер сайта */
.footer {
    width: 100%;
    max-height: 150px;

}

.container-footer {
    display: flex;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
}

.data-footer {
    padding: 50px 0px;
}

.data-footer p {
    padding-top: 20px;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 13px;

}

.data-text::before {
    content: "\00A9";
}
.footer-list{
    display: flex;
    gap: 10px;
   text-align: center;
  
}
.footer-list li {
    

    list-style: none;
    font-size: 30px;
}




@media (max-width: 1100px) {
    h1 {
        font-size: 24px;
        line-height: 34px;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        line-height: 20px;
        margin-bottom: 25px;
    }


    .container-screen {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen-img {
        margin-right: auto;
    }

    .img-row {
        width: 75%;
    }

    .text {
        width: 50%;
        margin: 100px auto;
    }

    .btn {
        width: 50%;
        padding: 19px 20px;
        font-size: 12px;
        line-height: normal;
    margin-left: 20%;}

    .contanier-about {
        width: 100%;
    }

    .project-numbers {
        width: calc(100% / 4);
    }

    .project-numbers:last-child {
        padding-right: 30px;
    }


    .cotanier-numbers {
        width: 75%;
        flex-wrap: wrap;
        justify-content: space-between;

    }


    .container-skill {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 0px;
    }

    .img-author {
        width: 75%;
    }

    .skill-list {
        padding-bottom: 50px;
        width: 75%;
    }

    .title-video {
        width: 75%;
    }

    .img-video {
        width: 75%;
    }

    .btn-icon {
        font-size: 75px;
    }

    .clients {
        flex-wrap: wrap;
        width: 75%;

    }

    .container-form {
        width: 75%;
    }

}

/* Меню Бургер */
@media (max-width: 850px) {

    .nav-list {
        display: block;

    }

    .nav-list a {
        padding: 12px 24px;
    }

    .menu__item {
        padding-bottom: 30px;
        color: #C4C4C4;
    }

    #menu__toggle {
        display: block;
        opacity: 0;
    }


    .menu__btn {
        display: flex;
        align-items: center;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
        position: relative;


    }

    #menu__toggle:checked~.menu__btn {
        position: fixed;
        top: 76px;
        right: 22px;
        z-index: 2;

    }

    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;

        transition-duration: .25s;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    .nav {

        font-size: 20px;
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: left;
        background-color: #34547A;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition: left .3s ease;
    }


    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);

    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);

    }

    #menu__toggle:checked~.nav {
        visibility: visible;
        left: 0;

    }

    .btn {
        width: 90%;
        margin-left: 0px;}

    .text {
        text-align: center;
    }

    .img-video {
        width: 100%;
    }

    .btn-icon {
        font-size: 40px;
    }

    .icon-Group1 {

        font-size: 25px;
    }

    .gallary-item {
        width: 50%;
        padding-top: 50%;
    }


    .section-form {
        width: 100%;
    }
}

@media (max-width:520px) {
    h3 {
        font-size: 11px;
        line-height: 22px;
        margin: 7px 0px auto;
    }

    .img-row {
        width: 100%;
    }

    .text {
        width: 75%;
    }

    .contanier-about {
        flex-basis: 100%;
    }

    .cotanier-numbers {
        margin: 0;
    }

    .project-item {
        font-size: 22px;
    }

    .text-numbers {
        padding-top: 10px;
        margin-left: 10px;
    }

    .text-numbers>p {
        font-size: 10px;
        line-height: 14px;
    }

    .clients {

        width: 75%;
    }

    .container-footer {
        flex-direction: column;
    }

    .data-footer {
        text-align: center;
        padding: 10px 0px;
    }

    .footer-list {
        padding: 0px;
    }

}